.chapter-item:hover {
    background-color: #dfdfdf;
}
.authorupload-btn {
    background-color: #00cbc3;
    color: rgb(255, 255, 255);
    width: 180px;
    border: none;
    padding: 10px;
    border-radius: 30px;
    margin: 0px 5px;
}
