.min-height{
    min-height: 25rem;
   
}
.clickable-tab {
    cursor: pointer;
    margin-right: 20px;
    padding-bottom: 5px;
    color: #000;
    text-decoration: none;
  }
  
  .active {
    color: #00cbc3;
    border-bottom: 4px solid #00cbc3;
  }
.border-con{
    border:#dbdbdb 1px solid;
    border-radius: 15px;
    padding: 3rem;
    
    
}
  